## Cloudflare Service Token - hive-staging
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=

## Cloudflare Audience - Supabase Staging (Hive 2025)
CF_AUDIENCE_TAG=
CF_TEAM_DOMAIN=

## Cloudflare R2 Object Storage - hive-open-source-2025
CF_R2_ACCESS_KEY_ID=
CF_R2_SECRET_ACCESS_KEY=
CF_R2_API_TOKEN=

## Supabase Staging
SUPABASE_URL=
SUPABASE_ANON_KEY=
TAILSCALE_DEVICE_IP=
SUPABASE_DB_URL=
PGSSLMODE="disable" ## https://github.com/supabase/cli/issues/4142#issuecomment-3270738488
