## Remember to create .env.local file on the root, when you working with this project.

## Cloudflare Service Token - hive-staging
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=

## Supabase Staging
TAILSCALE_DEVICE_IP=
SUPABASE_DB_URL=
PGSSLMODE="disable" ## https://github.com/supabase/cli/issues/4142#issuecomment-3270738488
